/*Index */
body{
    background-color:#000 !important;
}

/*Home*/

.mainHeader{
    font-family: 'Kaushan Script', cursive;
    font-size:64px;
    color:#333;
}

/*Chat Room*/

section.chatRooms{
    height:450px;
    position: relative;

}

section.chatRooms .roomHeader{
    color:#333;
}

section.chatRooms .rooms{
    font-size:24px;
}

section.chatRooms .newRoomBtn{
    position:absolute;
    bottom:0;
    margin:5px;
}

/*Messages*/

section.messages{
    padding:20px 5px 10px;
    background-color:#FFF;
    margin-top:20px;
    margin-right:10px;
    height:450px;
    position:relative;
}

section.messages .selectedRoom{
    font-size:24px;
}

section.messages .message{
    position:absolute;
    bottom:0;
    margin:5px 5px 10px;
}

section.messages .btnSend{
    position:absolute;
    bottom:0;
    margin:5px 5px 10px 210px;
}