<section class="main">
    <h1 class="mainHeader">Bloc Chat</h1>
        <div class="chatRooms">
        <button ng-click = "room.open('sm')" class="chatBtn">New Chat Room</button>
    <div ng-repeat="room in room.rooms" class="rooms">
        <!-- I want whenever I click a new chat room to have the getMessages function parameter updated with the room id that was selected. Problem is I don't know how to call it properly-->
        <a ng-click = "$parent.room.selectedRoom = room.room; $parent.room.selectedRoomId = room.$id; $parent.room.getMessages = $parent.Messages.getByRoomId($parent.room.selectedRoomId)" class="roomNames">{{room.room}}</a>
    </div>
    </div>
    <div class="messages">
        Selected Room
        <div>{{room.selectedRoom}}</div>
        <div>{{room.selectedRoomId}}</div>
        </br>
        <div ng-repeat="room in room.getMessages">
            <div>{{room.content}}</div>
        </div>
    </div>
</section>